.event-banner {
    position: relative;
    background-image: url('/src/images/Home/event-banner.jpg');
    background-size: cover;
    background-position: center; /* Adjust height as needed */
    overflow: hidden;
}

.event-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75); /* Adjust the color and opacity */
    z-index: 1; /* Make sure the overlay is above the background image */
}

.event-banner h1, .event-banner p {
    position: relative;
    color: white; /* Ensure text is readable */
    z-index: 2; /* Make sure text is above the overlay */
    text-align: center;
}
